<%= render "shared/header" %>

<% if @item.present? %>
  <div class="item-show">
    <div class="item-box">
      <h2 class="name">
        <%= @item.name || "商品名なし" %>
      </h2>

      <div class="item-img-content">
        <% if @item.image.attached? %>
          <%= image_tag url_for(@item.image), class: "item-box-img" %>
        <% else %>
          <%= image_tag "item-sample.png", class: "item-box-img" %>
        <% end %>
      </div>

      <div class="item-price-box">
        <span class="item-price">
          ¥ <%= number_with_delimiter(@item.price || 0) %>
        </span>
        <span class="item-postage">
          <%= @item.shipping_fee&.name || "未設定" %>
        </span>
      </div>

      <% if user_signed_in? %>
        <% if current_user.id == @item.user_id %>
          <%= link_to "商品の編集", edit_item_path(@item), class: "item-red-btn" %>
        <% else %>
          <%= link_to "購入画面に進む", "#", class:"item-red-btn" %>
        <% end %>
      <% end %>

      <div class="item-explain-box">
        <span><%= @item.description || "説明なし" %></span>
      </div>

      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">出品者</th>
            <td class="detail-value"><%= @item.user&.nickname || "不明" %></td>
          </tr>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @item.category&.name || "未設定" %></td>
          </tr>
          <tr>
            <th class="detail-item">商品の状態</th>
            <td class="detail-value"><%= @item.condition&.name || "未設定" %></td>
          </tr>
          <tr>
            <th class="detail-item">配送料の負担</th>
            <td class="detail-value"><%= @item.shipping_fee&.name || "未設定" %></td>
          </tr>
          <tr>
            <th class="detail-item">発送元の地域</th>
            <td class="detail-value"><%= @item.prefecture&.name || "未設定" %></td>
          </tr>
          <tr>
            <th class="detail-item">発送日の目安</th>
            <td class="detail-value"><%= @item.shipping_day&.name || "未設定" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p>商品が存在しません。</p>
<% end %>

<%= render "shared/footer" %>


